.grid {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

app-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 0.125rem solid #1c1c1c;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}


.message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: green;
}
