.grid {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

app-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: 0.125rem solid #ccc;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}

app-cell:hover {
  background-color: #e0e0e0;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: green;
}
